<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h5>Dict lookup</h5>
   <p>{{album}}</p>
   <ul>
       <li>{{album.song}}</li>
       <li>{{album.artist}}</li>
   </ul>
   <hr>
   <h5>Attribute lookup</h5>
   <p>{{advisor}}</p>
   <ul>
        <li>{{advisor.name}}</li>
        <li>{{advisor.info}}</li>
        <li>{{advisor.xxx}}</li>
   </ul>   
   <hr>
   <h5>List-index lookup</h5>
   <ul>
    <li>{{points.0}}</li>
    <li>{{points.1}}</li>
    <li>{{points.6}}</li>
    <hr>
    <p>{{members.2.info.price.1}} </p> {#7400이 찍히게 해보세요!!#}

</ul> 
</body>
</html>

